# ¬°Hola Arnold! üòä

Mi nombre es **Alejandro Castellanos** y hoy tengo el placer de ser el revisor de tu proyecto.

Voy a revisar todo tu c√≥digo con detalle, buscando tanto los puntos fuertes como aquellos en los que podr√≠as mejorar. Te dejar√© comentarios a lo largo del notebook, destacando lo que has hecho bien y sugiriendo ajustes donde sea necesario. Si encuentro alg√∫n error, no te preocupes, te lo har√© saber de forma clara y te dar√© informaci√≥n √∫til para que puedas corregirlo en la pr√≥xima iteraci√≥n. Si en alg√∫n punto tienes comentarios, si√©ntete libre de dejarlos tambi√©n.


Encontrar√°s mis comentarios espec√≠ficos dentro de cajas verdes, amarillas o rojas, es muy importante que no muevas, modifiques o borres mis comentarios, con el fin de tener un seguimiento adecuado de tu proceso:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si todo est√° perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=‚ÄútocSkip‚Äù></a>
</div>

A continuaci√≥n te dejar√© un comentario general con mi valoraci√≥n del proyecto. **¬°Mi objetivo es que sigas aprendiendo y mejorando con cada paso!**

----

<div class="alert alert-block alert-warning">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Arnold has realizado un excelente trabajo en este proyecto. Has completado de manera correcta la mayor√≠a de las tareas propuestas, esto demuestra una base t√©cnica s√≥lida y un dominio de herramientas claves para el manejo de datos. Solo debes hacer unas correcciones en algunas tareas, te dej√© comentarios espec√≠ficos para que puedas completar el proyecto satisfactoriamente, estoy seguro que podr√°s hacer los ajustes de forma f√°cil. Estar√© atento a tu pr√≥xima iteraci√≥n üëÄ

*Estado del Proyecto:* **No Aprobado**

</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

¬°Arnold excelente trabajo con los ajustes! Tu proyecto ahora cumple con todos los objetivos propuestos. Estoy seguro de que lo que aprendiste aqu√≠ te ser√° muy √∫til en futuros proyectos. ¬°√âxito en tu pr√≥ximo sprint! üöÄ

*Estado del Proyecto:* **Aprobado**

----



Como parte del equipo de an√°lisis, lo primero que debes hacer es evaluar la calidad de una muestra de datos recopilados y prepararla para analizarla posteriormente. Despu√©s, en la segunda parte de este proyecto en el segundo sprint, desarrollar√°s m√°s tus habilidades y har√°s tu primer an√°lisis completo, respondiendo a las necesidades del cliente.

Estos son los datos que el cliente nos proporcion√≥. Tienen el formato de una lista de Python, con las siguientes columnas de datos:

- **user_id:** Identificador √∫nico para cada usuario.
- **user_name:** El nombre del usuario.
- **user_age:** La edad del usuario.
- **fav_categories:** Categor√≠as favoritas de los art√≠culos que compr√≥ el usuario, como 'ELECTRONICS', 'SPORT' y 'BOOKS' (ELECTR√ìNICOS, DEPORTES y LIBROS), etc.
- **total_spendings:** Una lista de n√∫meros enteros que indican la cantidad total gastada en cada una de las categor√≠as favoritas.

In [1]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

# Paso 1

Store 1 tiene como objetivo garantizar la coherencia en la recopilaci√≥n de datos. Como parte de esta iniciativa, se debe evaluar la calidad de los datos recopilados sobre los usuarios y las usuarias. Te han pedido que revises los datos recopilados y propongas cambios. A continuaci√≥n ver√°s datos sobre un usuario o una usuaria en particular; revisa los datos e identifica cualquier posible problema.

In [2]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']


#en esta linea desarrollare el primer punto que es la conversion de string a entero 
user_id =  int(user_id)
print(user_id)
print(type(user_id)) 

#en esta linea desarrollare el segundo punto la cual es eliminar espacios innecesarios en el nombre
user_name = user_name.strip().replace("_"," ")
print(user_name)

#se cambia a entero ya que la edad tiene una coma y un cero seguido
user_age =  int(user_age)
print(user_age)

32415
<class 'int'>
mike reed
32

**Opciones:**

1. Se debe cambiar el tipo de dato de `user_id` de cadena a entero.
    
2. La variable `user_name` contiene una cadena que tiene espacios innecesarios y un guion bajo entre el nombre y el apellido.
    
3. El tipo de dato de `user_age` es correcto y no hay necesidad de convertirlo.
    
4. La lista `fav_categories` contiene cadenas en may√∫sculas. En lugar de ello, debemos convertir los valores de la lista en min√∫sculas.

Para cada una de las opciones, escribe en la siguiente celda markdown si la identificaste como un problema real en los datos o no. Justifica tu razonamiento. Por ejemplo, si crees que la primera opci√≥n es correcta, escr√≠belo y explica por qu√© piensas que es correcta.

**Escribe tu respuesta y explica tu argumentaci√≥n:**

**Ejercicio 1 :** para convertir el a entero utilizamos la funcion int y para comprobar que quedara convertida a entero la comprobamos con la funcion type la cual nos dice que clase de numero es 

**Ejercicio 2 :** Para este caso eliminamos los espacios innecesarios con la funci√≥n strip , seguido de la funci√≥n replace la cual identifica el_y lo reemplazada por un espacio

**Ejercicio 3 :** se cambia a entero ya que la edad tiene una coma y un cero seguido

**EJercicio 4 :** C√≥mo podemos evidenciar en la tabla todos los datos de fav categories est√°n en may√∫scula y para ese caso no ser√≠a necesario, sumando que todav√≠a no hemos visto c√≥mo convertir cadenas de may√∫sculas a min√∫sculas

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy buen an√°lisis de las opciones. Identificar los tipos de datos y las posibles modificaciones u operaciones que estos requieren es parte fundamental del an√°lisis exploratorio de datos.

</div>

# Paso 2

Vamos a implementar los cambios que identificamos. Primero, necesitamos corregir los problemas de la variable `user_name` Como vimos, tiene espacios innecesarios y un guion bajo como separador entre el nombre y el apellido; tu objetivo es eliminar los espacios y luego reemplazar el guion bajo con el espacio.

In [3]:
user_name = ' mike_reed '
user_name = user_name.strip().replace("_"," ")
print(user_name)

mike reed

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Arnold has ajustado correctamente el valor de **user_name**. Ahora el nombre no tiene espacios innecesarios ni un guion que separe el nombre y el apellido

</div>

********Hint********

Existe un m√©todo, `strip()`, que puede eliminar espacios al principio y al final de una cadena. Adem√°s, el m√©todo `replace()` se puede usar para reemplazar una parte de una cadena. En este caso, queremos reemplazar los guiones bajos (`_`) con espacios.

# Paso 3

Luego, debemos dividir el `user_name` (nombre de usuario o usuaria) actualizado en dos subcadenas para obtener una lista que contenga dos valores: la cadena para el nombre y la cadena para el apellido.

In [4]:
user_name = 'mike reed'
name_split = user_name.split ()

print(name_split)

['mike', 'reed']

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecto. Has creado una lista a partir de una cadena de texto, separando el nombre y el apellido del usuario

</div>

********Hint********

El m√©todo `split()` se utiliza para dividir una cadena. Por defecto, utiliza un espacio como separador.

# Paso 4

¬°Genial! Ahora debemos trabajar con la variable `user_age`. Como ya mencionamos, esta tiene un tipo de datos incorrecto. Arreglemos este problema transformando el tipo de datos y mostrando el resultado final.

In [5]:
user_age = 32.0
user_age =  int(user_age)
print(user_age)

32

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Has utilizado correctamente la funci√≥n `int`, que permite convertir un valor flotante en un n√∫mero entero.

</div>

********Hint********

¬øQu√© tipo de datos eliminar√° la parte de coma flotante?

**Elimina la parte decimal del numero flotante**

# Paso 5

Como sabemos, los datos no siempre son perfectos. Debemos considerar escenarios en los que el valor de `user_age` no se pueda convertir en un n√∫mero entero. Para evitar que nuestro sistema se bloquee, debemos tomar medidas con anticipaci√≥n.

Escribe un c√≥digo que intente convertir la variable `user_age` en un n√∫mero entero y asigna el valor transformado a `user_age_int`. Si el intento falla, mostramos un mensaje pidiendo al usuario o la usuaria que proporcione su edad como un valor num√©rico con el mensaje: `Please provide your age as a numerical value.` (Proporcione su edad como un valor num√©rico.)

In [6]:
user_age = 'treinta y dos'

try:
    user_age =  int(user_age)
    print(user_age)

except ValueError:
    print("Please provide your age as a numerical value.")

Please provide your age as a numerical value.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Has implementado correctamente un bloque de c√≥digo `try-except`, lo cual es fundamental para evitar que la ejecuci√≥n se interrumpa debido a errores en el formato o en el tipo de datos

</div>

********Hint********

Utiliza un bloque `try-except` para intentar la conversi√≥n; si falla, proporciona un mensaje claro indicando que la entrada debe ser num√©rica.

# Paso 6

El equipo de direcci√≥n de Store 1 te pidi√≥ ayudarles a organizar los datos de sus clientes para analizarlos y gestionarlos mejor.

Tu tarea es ordenar esta lista por ID de usuario de forma ascendente para que sea m√°s f√°cil acceder a ella y analizarla.

In [7]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users.sort()

print(users)

[['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]], ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

¬°Genial Arnold! Has ordenado correctamente la lista de usuarios por su ID. Como tip adicional recuerda que, si deseas ordenar la lista en orden descendente, puedes usar `sort(reverse=True)`.

</div>

********Hint********

Puedes utilizar el m√©todo `sort()` en la lista de usuarios para ordenarla de forma ascendente.

# Paso 7

Tenemos la informaci√≥n de los h√°bitos de consumo de nuestros usuarios, incluyendo la cantidad gastada en cada una de sus categor√≠as favoritas. La direcci√≥n est√° interesada en conocer la cantidad total gastada por el usuario.


Calculemos este valor y desplegu√©moslo.

In [8]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category )

print(total_amount)

1280

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Has obtenido el valor correcto para el total de los gastos. La funci√≥n `sum` es √∫til para sumar los elementos de una lista que tenga √∫nicamente valores num√©ricos.

</div>

********Hint********

¬øCu√°les son los tres m√©todos que se pueden aplicar a una lista para calcular sus valores m√≠nimo, m√°ximo y total?

**las funciones que se pueden utilizar para calcular dichos valore son las funciones min, max y sum respectivamente.**

# Paso 8

La direcci√≥n de la empresa nos pidi√≥ pensar en una manera de resumir toda la informaci√≥n de un usuario. Tu objetivo es crear una cadena formateada que utilice informaci√≥n de las variables `user_id`, `user_name` y `user_age`.

Esta es la cadena final que queremos crear: `User 32415 is mike who is 32 years old.` (El usuario 32415 es Mike, quien tiene 32 a√±os).

In [1]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

user_info = f"User {user_id} is {user_name[0]} who is {user_age} years old."
print(user_info)

User 32415 is mike who is 32 years old.

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Ac√° no queremos que se muestre la lista con el nombre y apellido del usuario, realmente solo queremos verl el nombre, para esto puedes usar el √≠ndica respectivo, en este caso `user_name[0]`
    
Por otro lado, Aunque el m√©todo `format` que empleaste es v√°lido, hoy en d√≠a se emplea una versi√≥n m√°s clara y directa con la estructura `f"string"`. En este caso la cadena formateada ser√≠a:

```
user_info = f"User {user_id} is {user_name[0]} who is {user_age} years old."

```



</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy buen trabajo con los ajustes Arnold

</div>

**respuesta del estudiante**
si, ahora que me acuerdo si es una manera mas sencilla y eficiente metodo f"string" , muchas gracias por acordarme lo resalte en mis apuntes y a la vez lo corregi en mi codigo.

********Hint********

Para crear una cadena, puedes utilizar el m√©todo `format()` o f-string. Para extraer el nombre de la lista `user_name`, puedes utilizar la segmentaci√≥n.

# Paso 9

La direcci√≥n tambi√©n quiere una forma f√°cil de conocer la cantidad de clientes con cuyos datos contamos. Tu objetivo es crear una cadena formateada que muestre la cantidad de datos de clientes registrados.

Esta es la cadena final que queremos crear: `Hemos registrado datos de X clientes`.

In [10]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_info = "We have registered data on {} clients.".format(len(users))
print(user_info)

We have registered data on 10 clients.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Muy buen uso de la funci√≥n  `len`, la cual permite contar la cantidad de elementos en un objeto iterable, ya sea una lista, una cadena de texto u otros tipos de datos en Python.

</div>

********Hint********

Para crear una cadena, puedes utilizar el m√©todo `format()` o f-string. Para extraer la cantidad de clientes en la lista, puedes utilizar la funci√≥n que devuelve la longitud de la lista.

# Paso 10

Apliquemos ahora todos los cambios a la lista de clientes. Para simplificar las cosas, te proporcionaremos una m√°s corta.
Debes:
1. Eliminar todos los espacios iniciales y finales de los nombres, as√≠ como cualquier guion bajo.
2. Convertir todas las edades en n√∫meros enteros.
3. Separar todos los nombres y apellidos en una sublista.

Guarda la lista modificada como una nueva lista llamada `users_clean` y mu√©strala en la pantalla.

In [14]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
]

users_clean = []


# Procesa al primer usuario
user_name_1 = users[0][1].strip().replace("_"," ").split ()
user_age_1 = int(users[0][2])
users_clean.append([user_name_1,user_age_1])

# Procesa al segundo usuario
user_name_2 = users[1][1].strip().replace("_"," ").split ()
user_age_2 = int(users[1][2])
users_clean.append([user_name_2,user_age_2])

# Procesa al tercer usuario
user_name_3 = users[2][1].strip().replace("_"," ").split ()
user_age_3 = int(users[2][2])
users_clean.append([user_name_3,user_age_3])



print(users_clean)

[[['mike', 'reed'], 32], [['kate', 'morgan'], 24], [['john', 'doe'], 37]]

<div class="alert alert-block alert-danger">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Arnold ac√° tienes un error, debido a que cuando usas las funciones `.strip().replace("_"," ")`, la variable `user_name_1` no existe o no se ha definido. En este caso debes usar los √≠ndices para acceder a la informaci√≥n de la lista `users`, por ejemplo: 
    
    user_name_1 = users[0][1].strip().replace("_"," ")
    
De esta forma con la sintaxis `users[0][1]` estamos accediendo (con el indice 0) al primer elemento de la lista `users` que corresponde a la informaci√≥n del primer usuarios, y con el siguiente ind√≠ce (1) estamos accediendo a la informaci√≥n del nombre.
    
Revisa eso, y ajusta las l√≠neas de tu c√≥digo para que siempre se acceda a la informaci√≥n necesaria para completar tu tarea.

</div>

**respuesta del estudiante**
en este caso para la correccion tue que conectarme con la profesora Paula en el q&a por que la verdad no entendia el punto, aca hice la correccion como entendi pero no se si haya quedado nuevamente mal, muchas gracias por la retroalimentacion..

<div class="alert alert-block alert-success">
<b>Comentario del revisor (2da Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Arnold buen trabajo, has combinado correctamente varias operaciones para modificar tus datos, lo cual es esencial para ajustar y preparar tu conjunto de datos de manera adecuada y uniforme.
    
<div class="alert alert-block alert-warning">
<b>Comentario del revisor (2da Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

    
Si quisieramos mostrar la informaci√≥n en el formato de la lista con toda la informaci√≥n del usuario puedes usar algo como esto:
    
    users_clean.append([users[0][0], user_name_1, user_age_1, users[0][3], users[0][4]])

De esta forma tendriamos los datos para el primer usario asi:
    
    ['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
    
    
</div>
    

</div>

********Hint********

Para procesar a cada usuario, comienza por acceder a los elementos requeridos de la lista de usuarios. Utiliza el m√©todo `strip()` para eliminar los espacios iniciales y finales y el m√©todo `replace('_',' ')` para reemplazar los guiones bajos por espacios en los nombres. Convierte la edad a un n√∫mero entero utilizando `int()`. Separa el nombre completo en nombre y apellido utilizando el m√©todo `split()`. Por √∫ltimo, `append` (agrega) los datos limpios a la lista `users_clean`.

----------